@model Barberia.Modelos.Cita

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clientes">
                    <option value="">-- Seleccione Cliente --</option>
                </select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarberoId" class="control-label"></label>
                <select asp-for="BarberoId" class="form-control" asp-items="ViewBag.Barberos">
                    <option value="">-- Seleccione Barbero --</option>
                </select>
                <span asp-validation-for="BarberoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.Servicios">
                    <option value="">-- Seleccione Servicio --</option>
                </select>
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioId" class="control-label"></label>
                <select asp-for="HorarioId" class="form-control" asp-items="ViewBag.Horarios">
                    <option value="">-- Seleccione Horario --</option>
                </select>
                <span asp-validation-for="HorarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
